doctype html
html(lang="en")
  head
    title Knowledgebase
    link(rel="stylesheet",href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet",href="/css/style.css")
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container
        a.navbar-brand(href='#') Knowledgebase
          |   
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample05', aria-controls='navbarsExample05', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          |   
          #navbarsExample05.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item.active
                a.nav-link(href='/')
                  | Home 
                  span.sr-only (current)  
              |       
              li.nav-item
                a.nav-link(href='/articles/new') Add Article
    .container
      block content
      br
      hr
      footer
        p Copyright &copy; 2018
    
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="/js/main.js")